# Template for parmconv in Galaxy
{% if fmt == 'AMBER' %}
parm {{ top_in }}
{% elif fmt == 'GROMACS' %}
gromber {{ top_in }} {{str_in}}
{% elif fmt == 'CHARMM' %}
chamber {{ top_in }} {{str_in}}
{% else %}
parm {{ top_in }}
{% endif %}
strip {{ stripmask }}
summary
outparm {{ prmtop_out }}
quit
