# Template for mmpbsa in Galaxy
#  
&general
startframe={{ allparams.startframe }}, endframe={{ allparams.endframe }}, interval={{ allparams.interval }},
verbose=2, keep_files={{ allparams.keep_files | int }}, strip_mask={{ allparams.strip_mask }}, use_sander={{ allparams.use_sander | int }}, entropy={{ allparams.entropy | int }},  netcdf=1
/
{% if calcdetails.gb_pb_calc.calctype == 'gb' %}
&gb
igb={{ calcdetails.gb_pb_calc.igb }}, saltcon={{ calcdetails.gb_pb_calc.saltcon }}
/
{% elif calcdetails.gb_pb_calc.calctype == 'pb' %}
&pb
istrng={{ calcdetails.gb_pb_calc.istrng }}, fillratio={{ calcdetails.gb_pb_calc.fillratio }}, inp={{ calcdetails.gb_pb_calc.inp }},radiopt={{ calcdetails.gb_pb_calc.radiopt }}
/
{% endif %}
{% if calcdetails.decomposition.decomposition == 'yes' %}
&decomp
csv_format={{ calcdetails.decomposition.csv_format | int }}, dec_verbose={{ calcdetails.decomposition.dec_verbose }}, idecomp={{ calcdetails.decomposition.idecomp }}, 
/
{% endif %}

